
* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    background: #EDEDED;
}

h3 {
    margin: 20px 60px;
    padding-bottom: 10px;
}

p {
    margin: 0 30px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 150px;

}

input {
    width: 100%;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s linear;
}

input:focus {
    border-color: #3CB371;
    box-shadow: 0 0 8px 0 #3CB371;
}

.err {
    border: 2px solid red;
}

label {
    margin-right: 10px;
}

.wrapper {
    display: flex;
    border: 1px solid #A9A9A9;
    border-radius: 10px;
    padding: 4px;
    float: left;
    margin-left: 10px;
}

.buttonX {
    width: 20px;
    background-color: #C0C0C0;
    border: 2px solid #A9A9A9;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
}
