* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    background: #EDEDED;
}

h3 {
    margin: 20px 60px;
    padding-bottom: 10px;
}

p {
    margin: 0 30px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    margin: 20px;
}

.image-to-show {
    width: 400px;
    height: 400px;
    animation: fadeinout 5s linear forwards;

}

.show {
    display: block;
}

.hide {
    display: none;
}

button {
    position: relative;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 0;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 30px;

}

.button {
    height: 50px;
    width: 150px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 7px 0;
    background: #3A4965;
    color: #BCCD95;
    border-radius: 7px;
    border-color: #495863;
    transition: .5s linear;
}

.button:hover {
    box-shadow: 0 0 5px #000000;
    background: #00000060;

}

.countdownTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    background-color: #00000010;
    color: #FFFFFF;
}

.fadeIn {
    animation: fadeIn .5s linear;
}

.fadeOut {
    animation: fadeOut .5s linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
