* {
    margin: 0;
    padding: 0;
    font-family: 'Black Ops One', cursive;
}

body {
    background-color: #937341;
}

ul {
    list-style: none;
    margin-top: 35px;
}

.desc {
    margin: 20px auto;
    width: 70%;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs-title.active {
    background-color: #937341;
    color: #23201D;
}

.desc {
    display: none;
    transition: display 1s;
}

img {
    width: 10vw;
    margin: 0 auto;
    display: block;
}
