* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    background: #EDEDED;
}

h3 {
    margin: 20px 60px;
    padding-bottom: 10px;
}

p {
    margin: 0 30px;
    padding-bottom: 20px;
}

ol {
    list-style: disc;
    margin: 40px;
}

.countTimer {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #20B2AA;
    color: #FFFFFF;
    margin-left: 10px;
}
