* {
    font-family: Verdana, sans-serif;
    margin: 0 auto;
    padding: 0;
    vertical-align: baseline;
    line-height: 1;

}

a, a:visited {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #F26524;
}

.header_info {
    box-sizing: border-box;
    margin-bottom: 45px;
}

.header_info::after {
    clear: both;
    content: "none";
    display: block;
    visibility: hidden;
}

.contacts {
    color: white;
    float: right;
    text-align: right;
    width: 243px;
    padding-top: 10px;
}

.contacts a:hover {
    color: #F26522;
}

.container {
    box-sizing: border-box;
    background-image: url("../img/backg.png");
    background-repeat: no-repeat;
    font-size: 18px;
    padding: 49px 147px 20px 153px;
    width: 1366px;
}


.logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 44px;
    width: 166px;
    text-align: right;
    text-transform: uppercase;
}

.logo:hover {
    color: #F26522;
    background-image: url("../img/activelogo.png");
}

.logo:first-line {
    font-size: 29px;
}

.main_gallery {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 61px;
}

.box {
    box-sizing: border-box;
    width: 312px;
    float: left;
    text-align: center;
}

.box:not(:nth-of-type(3n)) {
    margin-right: 64px;
}

.box:not(:nth-last-of-type(+3)) {
    margin-bottom: 55px;

}

.layer {
    position: relative;
    box-sizing: border-box;
    border: 3px solid;
    border-image: 1 linear-gradient(180deg, #FEFEFE, #000000);
    box-shadow: 0 7px 11px 5px #000000;
    margin-bottom: 20px;
    height: 204px;
    width: 312px;
    overflow: hidden;
}

.label {
    color: #FFFFFF;
    box-sizing: border-box;
    bottom: -64px;
    height: 64px;
    background: #F26522;
    padding-left: 21px;
    padding-right: 18px;
    position: sticky;
    transition: bottom 0.7s;
    width: 100%;
}

.layer:hover .label {
    bottom: 0;

}

.details {
    float: right;
    font-size: 14px;
    padding-top: 12px;
}

.details::after {
    content: "⋗";
    padding-left: 13px;
    opacity: 50%;

}
.from {
    font-size: 10px;
    display: flex;
    padding-top: 15px;
}
.fee {
    float: left;
    font-size: 20px;
    margin-top: 7px;

}


.footer {
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
}

