* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif
}

h3 {
    margin: 20px 60px;
    padding-bottom: 10px
}

p {
    margin: 0 30px;
    padding-bottom: 20px
}

ul {
    padding: 5px;
    margin-top: 10px;
}

