* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    font-family: "Roboto", sans-serif;
    width: 1280px;
}

.colortext {
    color: #000000;
}

a {
    cursor: pointer;
}

header a {
    color: #4bcaff;
    font-size: 75pt;
    height: 74px;
    width: 292px;
}

nav {
    background-color: #35444f;
    height: 69px;
    margin-top: 45px;
    overflow: auto;
    width: 1280px;
}

nav > ul {
    padding: 0;
    margin: 0 0 0 150px;
}

nav ul > li {
    float: left;
}

nav li > a {
    color: #ffffff;
    display: block;
    font-size: 24pt;
    font-style: inherit;
    padding: 14px 14px;
    text-align: center;
    width: 100%;
}

nav li > a:hover {
    background: #222f3a;
    transition: 0.5s ease-out;
    border-left: white solid;
    border-right: white solid;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 10px;
}

main {
    margin: 51px auto;
}

aside {
    border: 1px #000000 solid;
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
}

aside li > a {
    color: #495863;
    display: block;
    font-size: 29pt;
    height: 81px;
    line-height: 80px;
    padding-left: 42px;
}

aside ul li a:hover {
    color: #000000;
    background-color: #dbdbdb;
    margin-left: 65px;
}

article {
    box-sizing: border-box;
    border: 1px solid;
    display: inline-block;
    float: right;
    height: 529px;
    width: 60%;
}

section {
    align-items: center;
    display: flex;
    justify-content: center;
}

section > img {
    float: contour;
    margin-top: 100px;
}

.anim {
    overflow: hidden;
    width: 200px;
}

img.anim {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;

}

img.anim:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.text {
    width: 800px;
    height: 250px;
    margin-top: 150px;
    padding-left: 500px;

}

div p {
    text-align: center;
}

footer {
    width: 100%;
    height: 69px;
    background-color: #b4b7ba;
    overflow: auto;
}

footer li {
    float: left;
}

footer li > a {
    color: #000000;
    font-size: 20pt;
    font-style: inherit;
    width: 100%;
    display: block;
    padding: 14px 14px;
    text-align: center;
}

footer a {
    color: #000000;
    display: block;
    font-size: 20pt;
    font-style: inherit;
    margin-right: 5px;
    padding: 14px 14px;
    text-align: right;
}

footer li a:hover {
    color: #3181a6;
    transition: 0.5s;
    text-decoration: underline;
}
