* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    background: #EDEDED;
}

h3 {
    margin: 20px 60px;
    padding-bottom: 10px;
}

p {
    margin: 0 30px;
    padding-bottom: 20px;
}

.btn-wrapper {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    border: none;
    border-radius: 20px;
    min-width: 120px;
    padding: 7px;
    color: #fff;
    font-size: 14px;
    background-color: #33333a;
    cursor: pointer;
}

.btn:active,
.btn:focus {
    outline: none;
}

.btn.btn-blue {
    background-color: #0000FF;
    box-shadow: 7px 5px 5px #1A1D20;
}
