* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif
}

h3 {
    margin: 20px 60px;
    padding-bottom: 10px
}

p {
    margin: 0 30px;
    padding-bottom: 20px
}

.btn-container {
    text-align: center;
    margin-top: 50px;
}

.btn {
    color: #929292;
    padding: 12px 0;
    width: 172px;
    cursor: pointer;
    border-radius: 10%;
    outline: none;
    box-shadow: 0 10px 25px #898989;
    background: #222f3a;
    transition: .3s linear;
}

.btn:hover {
    color: red;
    background: black;
    box-shadow: 0 7px 30px black;
}

.info {
    font-size: 20px;
    padding-top: 40px;
    font-weight: bold;
    color: darkslategrey;
}
