* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Black', sans-serif;
}

body {
    font-size: 20px;
}

.cont {
    margin: 0 auto;
    width: 1280px;
    font-size: 16px;
    color: #373737;
    text-align: center;
    background-color: #FFFFFF;
    letter-spacing: 3px;
}


.nav_links {
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 32px;
    margin-bottom: 35px;
    letter-spacing: 3px;
}

.nav_links a {
    color: #16A085;
    text-decoration: none;
    margin-right: 70px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.nav_links a:hover {
    color: #000000;
}


main {
    background-color: #F5F6F7;
    padding-bottom: 94px;
    margin-bottom: 47px;
}

.title  {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 34px;
    margin-top: 35px;
    line-height: 2;
}
.text p {
    line-height: 22px;
}
.text {
    padding-right: 108px;
    padding-left: 113px;
    margin-bottom: 41px;
}

button {
    height: 51px;
    width: 192px;
    background-color: #16A085;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    transition: all 0.5s linear;
}

button:hover {
    color: #00000060;
    box-shadow: 0 0 5px #00ca17;
    background-color: #00cc60;
}

footer p{
    padding-right: 100px;
    padding-bottom: 45px;
    text-align: right;
}
