.footer {
  background-color: $footer-bg;
  padding-left: 35px;
  padding-right: 35px;

  &__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 684px;
    margin: 0 auto;
  }

  &__title {
    font-size: 16px;
    color: $footer-title;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 22px;

  }

  &__desc {
    font-size: 16px;
    color: $footer-text;
    text-align: center;
    line-height: 28px;
    margin-bottom: 37px;

  }

  &__social-ico {
    max-width: 200px;
    margin: 0 auto;
  }
}

.social-badge {
  @include flex(space-between);

  &__items {
    width: 34px;
    height: 34px;
    border: 2px solid red;
    border-radius: 34px;
    cursor: pointer;
    @include flex(center);
    @include scale;

    &--rss-color {
      border-color: #F8902E;
    }

    &--fb-color {
      border-color: #39599F;
    }

    &--twitter-color {
      border-color: #45B0E3;
    }

    &--dribbble-color {
      border-color: #D97AB0;
    }

    &--pinterest-color {
      border-color: #CC212C;
    }
  }
}

.contacts {
  color: $footer-text;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  margin-top: 34px;
}
