@import "variables";

body {
  font-family: $font-family;
}

.wrapper {
  padding: 0 15px;
  transition: 0.3s ease;
  margin: 0 auto;
}

.header {
  max-width: 1170px;
  height: 100px;
  margin: 0 auto;;
  @include flex(center);

  &__nav {
    width: 85%;
    @include flex(space-around);
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;

    &-link {
      text-decoration: none;
      color: $nav-color;

      &:hover {
        text-decoration: none;
        color: $nav-hover-color;
        box-shadow: -1px -1px 0 1px F5F5F5;
        transition: all 0.7s ease-in-out;
      }
    }
  }
}

@media #{$tablet_m} {

  .header {
    max-width: 1170px;
    height: 83px;
    margin: 0 auto;
    @include flex(flex-end);

    &__nav {
      border: 1px solid $nav-main;
      background-color: $nav-main-bg;
      width: 200px;
      font-size: 11px;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      position: absolute;
      top: 60px;
      z-index: 100;
      display: none;
    }

    &__nav-item {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 13px;
      border-bottom: 2px solid $nav-main;
      width: 182px;
    }

    &__nav-item:hover {
      background-color: $nav-main;
      cursor: pointer;
    }

    &__nav-link {
      text-decoration: none;
      color: $nav-color;
    }

    &__nav-link:hover {
      text-decoration: none;
      color: $nav-hover-color;
    }

    &__burger {
      width: 44px;
      height: 37px;
      background-color: $burger-bg;
    }
  }

  .burger {
    @include flex(center);
    cursor: pointer;
  }
}

.section {
  max-width: 1170px;
  margin: 0 auto;
  z-index: 1;

  &__img {
    width: 100%;
  }
}
