@import "variables";

.recent-posts {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 69px;

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $main-title;
  }

  &__box {
    @include flex(space-between);
    flex-wrap: wrap;
  }

  &__items {
    width: 48%;
  }
}

.recent-post-item {
  margin-top: 15px;
  padding-right: 10px;
  cursor: pointer;
  @include scale;

  &__images {
    float: left;
    margin-right: 21px;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: $main-title;
  }

  &__comment {
    font-size: 12px;
    line-height: 20px;
    color: $main-comment;
    margin-bottom: 15px;
  }

  &__desc {
    font-size: 14px;
    line-height: 26px;
    color: $main-text;
  }
}

@media #{$tablet_m} {

  .recent-posts__items {
    width: 98%;
  }

}

@media #{$mobile_s} {

  .recent-post-item__images {
    float: none;
  }

  .recent-post-item__desc {
    display: none;
  }

}

.instagram-post {
  background-color: #F7F7F7;

  &__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 47px;
  }

  &__title-item {
    @include flex(space-between);
  }

  &__latest-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $main-title;
  }

  &__page-title {
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: $main-title;
  }
}

.image-wrap {
  @include flex(space-between);
  padding-top: 24px;
  padding-bottom: 40px;


  &__item {
    width: 24%;
    transition: 0.3s linear;
    cursor: pointer;
    @include scale;
    &:hover {
      padding: 0 15px;
    }
  }
}


@media #{$tablet_m} {

  .instagram-post {
    &__page-title {
      display: none;
    }
  }
  .image-wrap {
    &__item {
      width: 32%;
    }

    &__item:nth-child(4) {
      display: none;
    }
  }
}

@media #{$mobile_s} {

  .image-wrap {
    &__item {
      width: 100%;
    }

    &__item:nth-child(2) {
      display: none;
    }

    &__item:nth-child(3) {
      display: none;
    }
  }
}
