$font-family: 'Roboto';
$burger-bg: #0c1927;
$nav-color: #5C5C5C;
$nav-hover-color: #57A4A4;
$nav-main: #F5F5F5;
$nav-main-bg: #FFFFFF;
$main-title: #4E4E4E;
$main-comment: #7C7C7C;
$main-text: #5C5C5C;
$footer-bg: #000000;
$footer-title: #FEFEFE;
$footer-text: #FFFFFF;

$mobile_s: "only screen and (max-width : 480px)";
$tablet_m: "only screen and (max-width : 991px)";
