.password-form {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    position: relative;
    width: initial;
    width: -moz-max-content;
    width: -webkit-max-content;
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
    outline: none;
    border-radius: 7px;
    border: 1px solid #AAAAAA;
    transition: .3s linear;
}

.input-wrapper input:focus {
    border-color: #3CB371;
    box-shadow: 0 0 7px 0 #3CB371;
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #808080;
}

.btn {
    width: 150px;
}

.modal-welcome {
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    color: #79BAC1;
    font-size: 30px;
}

.err {
    position: sticky;
    color: #FF0000;
}
